<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fundingQuestionMapper">

	<insert id="fundingQuestionInsert" parameterType="fundingQuestion">
		insert into funding_question (code, funding_code, member_code, content, subject, regdate, state)
		values (seq_no.nextval, #{fundingCode}, #{memberCode}, #{content}, #{subject}, sysdate, #{state})
	</insert>
	
	<select id="selectByCode" parameterType="int" resultType="fundingQuestion">
		select code, funding_code, member_code, content, subject, regdate, state from funding_question
		where code=#{_parameter}
	</select>
	
	<select id="listCount" parameterType="int" resultType="Integer">
		select count(*) from funding_question where member_code=#{_parameter}
	</select>
	
	
	<select id="fundingQuestionList" parameterType="member" resultType="fundingQuestion">
	<![CDATA[
		SELECT code, funding_code, member_code, content, subject, regdate, state 
		FROM (SELECT a.*, ROWNUM rnum FROM (SELECT * FROM funding_question WHERE MEMBER_CODE=#{code} ORDER BY code DESC) a 
		WHERE ROWNUM <= (#{startIndex}*#{cntPerPage})) WHERE rnum >= ((#{startIndex}-1)*#{cntPerPage}+1)
	]]>	
	</select>
	
</mapper>	








