<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fundingAnswerMapper">

	<!-- 1 : 1 관계인 경우 mapping하기 -->
	<resultMap type="fundingQuestion" id="fundingQuestionMap">
		<id column="code" property="code"/>
		<result column="member_code" property="memberCode"/>
		<result column="funding_code" property="fundingCode"/>
		<result column="subject" property="subject"/>
		<result column="content" property="content"/>
		<result column="regdate" property="regdate"/>
		<result column="state" property="state"/>
		<association property="member" javaType="member">
			<id column="code" property="code"/>
			<result column="id" property="id"/>
		</association>
		<association property="fundingAnswer" javaType="fundingAnswer">
			<id column="question_code" property="questionCode"/>
			<result column="answer" property="content" />
			<result column="regdate" property="regdate"/>
		</association>	
		<association property="funding" javaType="funding">
			<id column="code" property="code"/>
			<result column="md_code" property="mdCode" />
		</association>		
	</resultMap>

	<select id="selectByCodeQuestion" resultMap="fundingQuestionMap" parameterType="int">
		select f.code, f.funding_code, fd.md_code, f.subject, f.regdate, f.content, m.id, a.content as answer
		from funding_question f join member m  
		on m.code = f.member_code
		left outer join funding_answer a
		on a.question_code =f.code
        left outer join funding fd
        on fd.code = f.funding_code
		where f.code = #{_parameter}
	</select>
	

	<insert id="contentInsert" parameterType="fundingAnswer">
		insert into Funding_Answer values(#{questionCode},#{content},sysdate)
	</insert>
	
	<select id="selectByCode" parameterType="int" resultType="fundingAnswer">
		select question_code, content, regdate from funding_answer where question_code=#{_parameter}
	</select>
	
	<!-- 수녕 : 펀딩 문의에 대한 답변 등록 -->
	<insert id="fundingAnswerInsert" parameterType="fundingAnswer">
	insert into funding_answer(question_code,content,regdate) 
	values(#{questionCode},#{content},sysdate)
	</insert>

	<!-- 수녕 : 펀딩 문의 답변 상태변경 -->
	<update id="fundingAnswerState" parameterType="int">
	update funding_question
	set state='201'
	where code = #{_parameter}
	</update>
</mapper>	








