<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fundingAnswerMapper">

	<insert id="contentInsert" parameterType="fundingAnswer">
		insert into Funding_Answer values(#{questionCode},#{content},sysdate)
	</insert>
	
	<select id="selectByCode" parameterType="int" resultType="fundingAnswer">
		select question_code, content, regdate from funding_answer where question_code=#{_parameter}
	</select>
	
	<!-- 수녕 : 펀딩 문의에 대한 답변 등록 -->
	<insert id="fundingAnswerInsert" parameterType="fundingAnswer">
	insert into funding_answer(question_code,content,regdate) 
	values(#{questionCode},#{content},sysdate)
	</insert>

	<!-- 수녕 : 펀딩 문의 답변 상태변경 -->
	<update id="fundingAnswerState" parameterType="int">
	update funding_question
	set state='답변 등록됨'
	where code = {_parameter}
	</update>
</mapper>	








