<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="likesMapper">

	<insert id="insertLike" parameterType="likes">
		insert into likes(member_code, funding_code) values(#{memberCode},#{fundingCode})
	</insert>
	
	<!-- <select id="select" resultType="likes">
		select code, member_code, funding_code from likes
	</select> -->

</mapper>	








