<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="purchaseMapper">

	<!-- 근딘 :  후원한 펀딩 내역 페이지 - 펀딩 후원 내역 resultMap -->
	<resultMap type="purchase" id="listDetailInformationMap">
		<id column="purchaseCode" property="code" />
		<result column="purchase_state" property="purchaseState" />
		<result column="purchase_date" property="purchaseDate"/>
		<result column="courier" property="courier"/>
		<result column="delivery_number" property="deliveryNumber"/>
		<result column="price" property="price"/>
		<result column="qty" property="qty"/>
			<association property="funding" javaType="funding">
				<id column="code" property="code"/>
				<result column="funding_state" property="fundingState"/>
				<result column="title" property="title"/>
				<result column="reward_price" property="rewardPrice"/>
				<result column="image" property="image"/>
			</association>
	</resultMap>
	
	<!-- 근딘 : 후원한 펀딩 입력 -->
	<insert id="insert" parameterType="purchase">
		insert into purchase (code, member_code, funding_code, price, qty, purchase_state, purchase_date, delivery_number, courier, customer_uid, merchant_uid) 
		values (seq_no.nextval, #{memberCode}, #{fundingCode}, #{price}, #{qty},
		 #{purchaseState}, sysdate, #{deliveryNumber}, #{courier}, #{customerUid}, #{merchantUid})
	</insert>
	
	<!-- 근딘 : 후원 리스트 출력 -->
	<!-- <select id="listDetail"
		resultMap="listDetailInformationMap" parameterType="int">
		select p.code, p.purchase_state, p.purchase_date, p.courier, 
			p.delivery_number, p.price, p.qty, f.funding_state, f.title, f.reward_price, f.image
		from member m inner join purchase p
		on m.code = p.member_code
		inner join funding f
		on f.code = p.funding_code
		where m.code = #{_parameter}
	</select> -->
	
	<!-- 근딘 : 후원 인원 카운트 -->
	<select id="countFundingCode" parameterType="int" resultType="int">
		select count(*) from purchase where funding_code = #{_parameter}
	</select>
	
	<select id="countPurchaseNumber" parameterType="int" resultType="int">
		select count (purchase_state) from purchase where purchase_state = 601 and member_code = #{_parameter}
	</select>
	
	<select id="countTotalPrice" parameterType="int" resultType="int">
		select sum (price) from purchase where purchase_state = 601 and member_code = #{_parameter}
	</select>
		
	<!-- 근딘 : 후원 취소 상태 변경 -->
	<update id="purchaseFailedUpdate" parameterType="int">
		update purchase set purchase_state = '602' where code = #{_parameter}
	</update>
	
	<!-- 수녕 : 송장번호, 택배사 입력,수정 -->
	<update id="deliveryCodeUpdate" parameterType="purchase">
		update purchase
		set delivery_number=#{deliveryNumber},courier=#{courier}
		where member_code=#{memberCode} and funding_code=#{fundingCode}
	</update>
	
	<!-- 수녕 : 맴버id, name, addr, 송장번호, 택배사 입력 후 뿌려주기(조회) -->
    <select id="deliveryCodeSelect" resultMap="purchasedeliveryCodeSelect" parameterType="map">
		select distinct p.delivery_number, p.courier,p.funding_code, m.id, m.name, m.addr, m.code
		from purchase p inner join member m
		on m.code=p.member_code
		where p.funding_code=#{fundingCode} and p.member_code= #{memberCode}
	</select> 
	
	<!-- 수녕 : 맴버id, name, addr, 송장번호, 택배사 입력 후 뿌려주기(조회) resultMap -->
	<resultMap type="member" id="purchasedeliveryCodeSelect">
		<id column="code" property="code" />
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="addr" property="addr" />
		<association property="purchase" javaType="purchase">
			<result column="delivery_number" property="deliveryNumber" />
			<result column="courier" property="courier" />
			<result column="funding_code" property="fundingCode"/>
		</association>
	</resultMap>
	
	<update id="updatePurchaseState">
		update purchase A
		set A.purchase_state=
		case
   			when A.funding_code
    		in (select B.code from funding B where B.funding_state='503') then '601'
   			when A.funding_code
    		in (select B.code from funding B where B.funding_state='504') then '602'
    	end
		where A.purchase_state='603'
	</update>
	
	<!-- 근딘 : 후원한 내역 페이징 처리 -->
	<select id="purchaseListCount" resultType="int" parameterType="int">
		select count(code) from purchase where member_code=#{_parameter}
	</select>
	
	<select id="purchaseList" parameterType="map" resultMap="listDetailInformationMap">
	<![CDATA[
		SELECT * 
		FROM (SELECT a.*, ROWNUM rnum FROM (select p.code as purchaseCode, p.purchase_state, p.purchase_date, p.courier, 
			p.delivery_number, p.price, p.qty, f.code, f.funding_state, f.title, f.reward_price, f.image
		from member m inner join purchase p
		on m.code = p.member_code
		inner join funding f
		on f.code = p.funding_code
		where m.code = #{memberCode} ORDER BY code DESC) a 
		WHERE ROWNUM <= (#{startIndex}*#{cntPerPage})) WHERE rnum >= ((#{startIndex}-1)*#{cntPerPage}+1)
	]]>		
	</select>
	
	<select id="canceled" resultType="purchase">
		select code, member_code, funding_code, price, qty, purchase_state, purchase_date, delivery_number, courier, customer_uid, merchant_uid
		from purchase 
		where funding_code in (select code
								from funding
								where funding_state = '504')
		and purchase_state = '603'
	</select>
	
	<select id="selectByCode" parameterType="int" resultType="purchase">
		select code, member_code, funding_code, price, qty, purchase_state, purchase_date, delivery_number, courier, customer_uid, merchant_uid
		from purchase 
		where code = #{_parameter}
	</select>
</mapper>	
