<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="purchaseMapper">

	<select id="selectAll" resultType="purchase">
		SELECT code, member_code, funding_code, price, qty, purchase_state, purchase_date, delivery_code, courier
		FROM purchase
		ORDER BY code DESC
	</select>
	
	<insert id="insert" parameterType="purchase">
		INSERT INTO PURCHASE (code, member_code, funding_code, price, qty, purchase_state, purchase_date, delivery_code, Courier) 
		VALUES (seq_no.nextval, #{memberCode}, #{fundingCode}, #{price}, #{qty},
		 #{purchaseState}, #{purchaseDate}, #{deliveryNumber}, #{Courier})
	</insert>
	
	<select id="selectByCode" resultType="purchase"></select>

</mapper>	








