<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="statisticsMapper">
	
	<update id="insertTodayVisit">
		update statistics set visit=visit+1 where regdate=to_char(sysdate,'yy/mm/dd')
	</update>
	
	<update id="updateFundingTotalCount">
		update statistics set purchase_count = purchase_count+1 where regdate=to_char(sysdate,'yy/mm/dd')
	</update>
	
	<update id="updateFundingApply">
		update statistics set funding_apply=funding_apply+1 where regdate=to_char(sysdate,'yy/mm/dd')
	</update>
	
	<update id="updateTotalFundingStackPrice" parameterType="int">
		update statistics set purchase_price =purchase_price + #{_parameter} where regdate=to_char(sysdate,'yy/mm/dd')
	</update>
	
	<select id="selectWeekData" resultType="statistics">
		select regdate, visit, purchase_count, purchase_price, funding_apply 
		from (select rownum,regdate, visit, purchase_count, purchase_price, funding_apply
        from (select regdate, visit, purchase_count, purchase_price, funding_apply from statistics order by regdate desc))
        where rownum &lt;= 8
	</select>

</mapper>	








